.menu-margins {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-nav {
  background-color: white;
  overflow: hidden;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-nav div a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}

.top-nav div a img {
  height: 20px;
  width: auto;
}

.top-nav-left {
  width: 30%;
}

.top-nav-right {
  width: 20%;
}

.demo {
  width: 100%;
  height: 500px;
  background: url(../media/nvidia-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  text-align: left;
}

.nvidia-title {
  color: #45cf0e;
  width: 70%;
  font-size: 300%;
  font-family: 'Montserrat', sans-serif;
  margin-left: 50px;
}

.nvidia-content {
  color: white;
  width: 55%;
  height: auto;
  margin-left: 50px;
  font-family: 'Montserrat', sans-serif;
}

.save-the-date {
  background-color: #45cf0e;
  color: white;
  border-radius: 5px;
  border: 5px solid #45cf0e;
  width: 17%;
  height: auto;
  margin-left: 50px;
  font-family: 'Montserrat', sans-serif;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.gallery {
  background-color: white;
  padding-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
}

.gallery-box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

.box-title {
  color: #45cf0e;
  font-size: 50px;
  text-align: center;
  height: 60px;
  margin: -60px 0 75px 0;
  font-family: 'Montserrat', sans-serif;
}

.box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  font-family: 'Montserrat', sans-serif;
}

.gaming-title {
  color: #45cf0e;
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  font-family: 'Montserrat', sans-serif;
}

.latest-news {
  color: #45cf0e;
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  font-family: 'Montserrat', sans-serif;
}

.data-center-to-edge {
  color: #45cf0e;
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  font-family: 'Montserrat', sans-serif;
}

.text-green {
  color: #45cf0e;
  font-size: larger;
  font-family: 'Montserrat', sans-serif;
}

.text-content {
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.19);
          box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.19);
  font-family: 'Montserrat', sans-serif;
  margin: 50px;
  border: solid red;
}

.pic-box {
  width: 300px;
  height: 165px;
}

.text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 165px;
  font-family: 'Montserrat', sans-serif;
}

.black-box {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin: 60px 0 0 0;
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
}

.white-title {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  font-size: larger;
  padding-left: 40px;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid #747474;
  text-align: left;
}

ul li {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
}

.text-green-2 {
  color: #45cf0e;
}
/*# sourceMappingURL=style.css.map */